{% extends "base_page.html" %}

{% block page-title %}
Изучаем английский язык вместе!
{% endblock %}

{% block page-lead %}
О проекте <br/>
{% endblock %}

{% block content %}
<div class="container">
    Данный проект создан в рамках обучения на Цифровой Кафедре МФТИ. <br/>
    Функциональные воможности проекта:
    <ol>
        <li> <h6>Словарь слов</h6> </li>
        <li> <h6>Список учебных материалов</h6> </li>
        <li> <h6>Карточки слов</h6> </li>
    </ol>
    Словарь слов предоставляет пользовтелю возможность самому добавлять, удалять и редактировать слова. <br/>
        Добавление новых слов при нажатии на кнопку "Добавить новое слово". Откроется страница с формой для добавления нового слова. <br/>
    Редактирование слов при нажатии на кнопку "ручка". Откроется страница с формой для редактирования выбранного слова. <br/>
    Удаление слов при нажатии на кнопку "корзина". Выбранное слово удалится из словаря. <br/><br/>
    Список учебных материалов предоставляет пользовтелю возможность самому добавлять, удалять и редактировать учебные материалы. <br/>
        Добавление новых учебных материалов при нажатии на кнопку "Добавить учебный материал". Откроется страница с формой для добавления нового учебного материала. <br/>
        Редактирование учебных материалов при нажатии на кнопку "ручка". Откроется страница с формой для редактирования выбранного учебного материала. <br/>
    Удаление учебных материалов при нажатии на кнопку "корзина". Выбранный учебный материал удалится из списка. <br/><br/>
    Карточки слов предоставляют пользователю возможность для изучения новых слов или проверки своих знаний. По щелчку на карточку она перевернётся и покажет перевод слова. Навигация по карточкам осуществляется кнопками "Предыдущая" и "Следующая". <br/><br/>
    <h2>Успехов!</h2>
    </div>
{% endblock %}