<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block pagetitle %}{% endblock %}</title>
    <!-- load static -->
    {% load static %}
    <!-- CSS -->
    <link href="{% static 'style.css' %}" rel="stylesheet">
    <link href="{% static 'bootstrap.min.css' %}" rel="stylesheet">
    <!--favicon-->
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}"/>
    <!--JavaScript-->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
</head>
<body>
<main>
    <div class="container">
        <header>
            <nav class="navbar navbar-expand-lg navbar-light bg-white" id="main-nav">
                <a class="navbar-brand" href="/">
                    <img src="{% static 'education.png' %}" alt="Изучение английского языка" width="42" height="42"/>
                </a>
                <div class="container-fluid">
                    <ul class="navbar-nav nav-tabs me-auto mb-2 mb-lg-0">
                        <li class="nav-item active">
                            <a class="nav-link" aria-current="page" href="/">Главная</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="/" role="button" aria-expanded="false">Обучение</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" aria-current="page" href="/vocabulary">Словарь</a>
                                <a class="dropdown-item" aria-current="page" href="#">Учебные материалы</a>
                                <a class="dropdown-item" aria-current="page" href="/cards">Карточки</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/about">О проекте</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <div class="p-5 mb-4 bg-light rounded-3" id="title-box">
            <div class="container-fluid py-5">
                <h1 class="display-1 fw-bold">{% block page-title %}{% endblock %}</h1>
                <p class="col-md-8 fs-4">{% block page-lead %}{% endblock %}</p>
            </div>
        </div>
        {% block content %}{% endblock %}
        <footer class="footer pt-3 mt-4 text-muted border-top">© MIPT 2023</footer>
    </div>
</main>
</body>
</html>
