{% extends "base_page.html" %}

{% block page-title %}
Карточки
{% endblock %}

{% block content %}
<!--scripts-->
<script src="http://unpkg.com/flip-card-wc/dist/flip-card-wc.js"></script>

<div class="row justify-content-center">
    <div class="d-flex justify-content-center align-items-center">
              <small class="text-muted">{{ cur_card }}/{{ num_cards }}</small>
            </div>
    <div class="col-md-8 mt-8">
        <flip-card class="card mb-4" variant="click">
            <div class="card__details" slot="front">
                <h3 class="card-title">{{ front }}</h3>
            </div>
            <div class="card__details" slot="back">
                <h3 class="card-title">{{ back }}</h3>
            </div>
        </flip-card>
            <div class="btn-group" role="group">
                {% if prev_card %}
                <a href="/cards/{{ prev_card }}" type="button" class="btn btn-secondary">Предыдущая</a>
                {% else %}
                <a type="button" aria-disabled="true" class="btn btn-secondary disabled">Предыдущая</a>
                {% endif %}
                {% if next_card %}
                <a href="/cards/{{ next_card }}" type="button" class="btn btn-primary">Следующая</a>
                {% else %}
                <a type="button" aria-disabled="true" class="btn btn-primary disabled">Следующая</a>
                {% endif %}
            </div>
        </div>
</div>
{% endblock %}