{% extends "base_page.html" %}

{% block page-title %}
Словарь изученных слов
{% endblock %}

{% block content %}
<div class="container px-4 py-5" id="vocab-table">
    <form class="form-inline" method="get">
        <input class="form-control form-control-sm ml 3 w-75" type="text" placeholder="Поиск по словарю" aria-label="Search" name="search" id="search">
    </form>
    <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th scope="col" class="py-3">#</th>
              <th scope="col" class="py-3">Слово</th>
              <th scope="col" class="py-3">Перевод</th>
              <th scope="col" class="py-3">Пояснение</th>
              <th scope="col" class="py-3"></th>
            </tr>
          </thead>
          <tbody>
            {% for cnt, word, translation, comment in data %}
            <tr>
                <td class="py-3">{{ cnt }}</td>
                <td class="py-3">{{ word }}</td>
                <td class="py-3">{{ translation }}</td>
                <td class="py-3">{{ comment }}</td>
                <td class="py-3"> <a class="btn btn-default" href="/word-edit/{{ cnt }}"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16"><path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/></svg></a></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    <div>
        <a href="/word-add" class="btn btn-primary">Добавить новое слово</a>
    </div>
</div>
{% endblock %}
